<!DOCTYPE html>
<html>
  <head>
    <title>Newee</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>Welcome formmm</p>
    <form method="POST" action="/new">
      <input name="messageText" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
